.navbar-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vw;
  padding: 16px 24px;
  /* background-image: url("../../public/images/Banner_Developer.png");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed; */
}

.me-content ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.me-content a {
  text-decoration: none;
  color: white;
  padding: 6px 10px;
  font-size: 1.5rem;
}

.me-content a:hover {
  text-decoration: underline;
}

.cv-content {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
}

.online-cv {
  text-decoration: none;
  color: white;
  align-self: center;
}

.download-cv {
  padding: 8px 24px;
  border-radius: 10px;
  background-color: rgb(53, 74, 80);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: beige;
}

.name {
  font-size: 120px;
  font-family: "Inter", sans-serif;
  background-image: url("/images/Banner_Developer.png");
  background-size: cover;
  background-clip: text;
  color: transparent;
  animation: animate 20s linear infinite;
}

@keyframes animate {
  to {
    background-position-x: -100px;
  }
}
